<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="2554576230602773526375" />
    <meta name="baidu-site-verification" content="81BLZ1C2Te" />
    <!-- 百度验证  -->
    <meta name="baidu-site-verification" content="23p76Y9LU3" />
    <!--360验证-->
    <meta name="360-site-verification" content="1247af3cd890cf522c64a0188211dfba" />
    <!--神马平台验证-->
    <meta name="shenma-site-verification" content="6ddf919e460df88fe12310e2097a23cc_1497866600" />
    <title>第一百零五章 山百合会 - 网游之羽化 - 刺猬猫</title>
    <meta name="keywords" content="第一百零五章 山百合会,网游之羽化,网游之羽化全文阅读,,网游之羽化最新章节" />
    <meta name="description" content="第一百零五章 山百合会,“就是我！梨花姐姐！”金发少女听到后开心的点了点头，神情十分雀跃。“哎。”见到梨花出来，曲雪舞无奈的叹了口气，也不再拦着慕雪了。“唔——！梨花姐姐！”慕雪张开双臂就是一个飞扑，只不过被梨花熟练的伸出右手抵住额头。“你怎么来这里的？”有些无奈的揉了揉眉头，梨花开口道，这里不是零域国家队的基地吗？说好的..." />
    <!--<link rel="shortcut icon" type="image/x-icon" href=""/>-->
    <link rel="shortcut icon" href="https://www.ciweimao.com/resources/image/icon/CiWeiMao_Icon_32_R.png">

    <link rel="stylesheet" type="text/css" href='https://www.ciweimao.com/resources/css/style.css' />
    <!--<link rel="stylesheet" type="text/css" href=''/>-->
    <!--<link rel="stylesheet" type="text/css" href=''/>-->
    <!--<script type="text/javascript" language="javascript" src=''></script>-->
    <script type="text/javascript" language="javascript" src='https://www.ciweimao.com/resources/scripts/bootstrap/js/jquery.js'></script>
    <script type="text/javascript">
        var HB = HB || {};
        HB.config = { jsPath: 'https://www.ciweimao.com/resources/js', rootPath: 'https://www.ciweimao.com/' };
        HB.book = { book_id: 100021919, chapter_id: 100766788, up_reader_id: 422137, is_paid: 1 };
        HB.userinfo = { reader_id: 4722435, tel_num: '17791998105', license: '', redis_license: '', reader_name: '呀呀呀呀', avatar_thumb_url: 'https://avatar.kuangxiangit.com/novel/img-2019-01/4722435/avatar/thumb_61886b97c705612645afa0954321866f.jpg', vip_lv: 2 };
        HB.urlinfo = { redirect: 'https://www.ciweimao.com/reader/modify_mobile?redirect=https%3A%2F%2Fwww.ciweimao.com%2Fchapter%2F100766788' };        
    </script>
    <!--<script type="text/javascript" src=""></script>-->
    <script type="text/javascript" src="https://www.ciweimao.com/resources/js/base.js"></script>
    <script type="text/javascript" src="https://www.ciweimao.com/resources/js/artDialog/6.0.4/dialog-min.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1dbadbc80ffab52435c688db7b756e3a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--<script>
		(function(para) {
		  var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
		  w['sensorsDataAnalytic201505'] = n;
		  w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
		  var ifs = ['track','quick','register','registerPage','registerOnce','clearAllRegister','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister','getAppStatus'];
		  for (var i = 0; i < ifs.length; i++) {
		    w[n][ifs[i]] = w[n].call(null, ifs[i]);
		  }
		  if (!w[n]._t) {
		    x = d.createElement(s), y = d.getElementsByTagName(s)[0];
		    x.async = 1;
		    x.src = p;
		    x.setAttribute('charset','UTF-8');
		    y.parentNode.insertBefore(x, y);
		    w[n].para = para;
		  }
		})({
		  sdk_url: 'https://www.hbooker.com/resources/js/sensorsdata/sensorsdata.min.js',
		  name: 'sa',
		  web_url: 'https://sensorsdata.hbooker.com:4006/?project=production',
		  server_url: 'https://sensorsdata.hbooker.com:4006/sa?project=production',
		  heatmap:{}
		});
		sa.quick('autoTrack');
	</script>-->
</head>

<body>
    <div class='book-read'>
        <script>
            window.parent.history.pushState(null, null, "100766788");
            window.parent.document.getElementsByTagName("title")[0].innerHTML = "第一百零五章 山百合会 - 网游之羽化 - 刺猬猫";
            var metaElements = window.parent.document.getElementsByTagName("meta");
            for (var i = 0; i < metaElements.length; i++) {
                if (metaElements[i].name == "keywords") {
                    metaElements[i].content = "第一百零五章 山百合会,网游之羽化,网游之羽化全文阅读,,网游之羽化最新章节";
                } else if (metaElements[i].name == "description") {
                    metaElements[i].content = "第一百零五章 山百合会,“就是我！梨花姐姐！”金发少女听到后开心的点了点头，神情十分雀跃。“哎。”见到梨花出来，曲雪舞无奈的叹了口气，也不再拦着慕雪了。“唔——！梨花姐姐！”慕雪张开双臂就是一个飞扑，只不过被梨花熟练的伸出右手抵住额头。“你怎么来这里的？”有些无奈的揉了揉眉头，梨花开口道，这里不是零域国家队的基地吗？说好的...";
                }
            }
        </script>
        <!-- 当前是章节阅读页 -->
        <!-- 当前是漫画阅读页 -->
        <div id="bdstat" style="display: none"></div>

        <div class="nav-top">
            <div class="ly-wrap">
                <a class="logo" href="https://www.ciweimao.com/" title="刺猬猫"></a>
                <ul class="login-info ly-fr">
                    <li class="userinfo">
                        <a class="avatar" href="https://www.ciweimao.com/bookshelf/my_book_shelf/" target="_blank" rel="nofollow">
                            <img class="lazyload" data-original="https://avatar.kuangxiangit.com/novel/img-2019-01/4722435/avatar/thumb_61886b97c705612645afa0954321866f.jpg"
                                src="https://www.ciweimao.com/resources/images/avatar-default-m.png" alt="">
                            <span class='medal medal_51_40'></span> </a>
                        <a class="nickname" href="https://www.ciweimao.com/bookshelf/my_book_shelf/" target="_blank"
                            rel="nofollow">呀呀呀呀</a>
                        <i class="icon-level-p"></i>
                        <b class="level">LV9世外高人</b>
                        <a class="logout" href="https://www.ciweimao.com/signup/logout?redirect=https%3A%2F%2Fwww.ciweimao.com%2Fchapter%2F100766788"
                            class="logout" rel="nofollow">[退出]</a>
                        <a class="count" href="https://www.ciweimao.com/bookshelf/my_book_shelf/" target="_blank" rel="nofollow">43</a>
                        <a class="msg" href="https://www.ciweimao.com/reader/get_message_list/" target="_blank" rel="nofollow">0</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--  欢迎每日登录 领取推荐票 -->
        <div class="dialogLoginBox" id="J_DialogLoginBox" style="display: none;">
            <div class="bd">
                <p>呀呀呀呀 你好~~</p>
                <p>送你 <b>
                        5 </b> 张推荐票哦~</p>
                <p class="tips">登陆刺猬猫APP，<br />完成每日签到任务，<br />更有好礼相送。</p>
            </div>
            <div class="ft">
                <!--        <a class="btn-gettuijian" href="javascript:;" id="J_GetTJTicket">领取推荐票</a>-->
                <p class="auto-close"><i id="J_Timer">3</i>s后关闭</p>
            </div>
        </div>
        <!--container start-->

        <!--<noscript><iframe src="*.htm"></iframe></noscript>-->
        <!-- 禁止网页另存为 -->

        <script type="text/javascript">
            //document.body.oncopy = function (){return false;} //阻止复制
            try {
                var _cssDomain = 'https://www.ciweimao.com/resources/css/';
                var _href = '';
                HB.config.bookread = {};
                HB.config.bookread.theme = 'default';
                HB.config.bookread.fontFamily = 'Microsoft Yahei';
                HB.config.bookread.fontFamilyForImage = 'msyh';
                HB.config.bookread.fontFamilyNum = 0;
                HB.config.bookread.fonts = ['Microsoft Yahei', 'Simsun', 'Kaiti'];
                HB.config.bookread.fontsForImage = ['msyh', 'simsun', 'stkaiti'];
                HB.config.bookread.fontSize = 14;
                HB.config.bookread.tsukkomiSite = ['tsu-right', 'tsu-left', 'tsu-hide'];
                HB.config.bookread.musicPlayer = [0, 1];
                HB.config.bookread.useImage = 0;
                HB.config.bookread.useImage = 1;
                var _settings = HB.util.Cookie.get('bookReadTheme');
                if (_settings) {
                    var _arr = _settings.split(',');
                    //主题
                    if (_arr[0]) {
                        _href += _cssDomain + 'skin/' + _arr[0] + '.css';
                        HB.config.bookread.theme = _arr[0];
                    }
                    //字体
                    if (_arr[1]) {
                        HB.config.bookread.fontFamily = HB.config.bookread.fonts[_arr[1]];
                        HB.config.bookread.fontFamilyForImage = HB.config.bookread.fontsForImage[_arr[1]];
                        HB.config.bookread.fontFamilyNum = _arr[1];
                    }
                    //字号
                    if (_arr[2]) {
                        HB.config.bookread.fontSize = _arr[2];
                    }
                    //繁简体
                    if (_arr[3]) {
                        HB.config.bookread.fontStyle = _arr[3];
                    }
                    //间贴位置
                    if (_arr[4]) {
                        HB.config.bookread.tsukkomiSite = _arr[4];
                    }
                    //音乐播放器
                    if (_arr[5]) {
                        HB.config.bookread.musicPlayer = _arr[5];
                    }
                }
                if (!_href) {
                    _href = _cssDomain + 'skin/' + HB.config.bookread.theme + '.css';
                }
                document.write('<link id="J_readbookStyle" rel="stylesheet" type="text/css" href="' + _href + '"/>');
            } catch (err) {
            }
        </script>
        <script>
            (function () {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                }
                else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
        <div style="position:absolute;bottom:40px;">
            <!--<iframe id="huanyin" name="huanyin" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="z-index:666666; width: 670px; height: 100%;" src="http://net.huanmusic.com/zy/hlsk0006.html"></iframe> -->
            <script id="huanyin" src="https://net.huanmusic.com/zy/hlskjs0015.js?data-version=hlsk0006&bottom=80px"></script>
        </div>

        <div class="container">
            <div class="ly-wrap">

                <div class="breadcrumb">
                    <a href="https://www.ciweimao.com/index">首页</a>
                    >
                    <a href='https://www.ciweimao.com/index/header_cate_list/zhaiwen'>宅文</a> > <a href='https://www.ciweimao.com/index/cate_book_list/zhaiwen/3'>游戏世界</a>
                    >
                    <a href="https://www.ciweimao.com/book/100021919">网游之羽化</a>
                </div>
                <!--get_category_type_by_index-->
                <!--阅读 start-->
                <div class="book-read-box box-shadow" id="J_BookReadBox">
                    <!--<a href="javascript:;" class="book-label book-label-fav" id="J_BookLabel"></a>-->
                    <!-- 已放入书签的添加class book-label-fav  -->
                    <div id="J_BookCnt">
                        <div class="read-hd">
                            <h3 class="chapter">第一百零五章 山百合会</h3>
                            <p><span>网游之羽化</span><span>作者：<a href="https://www.ciweimao.com/reader/422137">伪娘王</a></span><span>更新时间：2017-03-17
                                    10:50:01</span><span>吐槽：<span id="J_TsukkomiNum">218</span></span><span>字数：1287</span></p>
                        </div>
                        <div class="read-bd" id="J_ImgRead">
                            <div class="read-bd-wrap" id="J_BookImage" style="background-repeat: no-repeat;">
                                <img width="100%" id="realBookImage" src="https://www.ciweimao.com/resources/image/empty.gif"
                                    style="pointer-events: none;height:100%;width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="ft">
                        <div class="book-read-shang">

                        </div>
                        <div class="read-side-bar-box" id="J_ReadSideBarBox">
                            <div class="read-side-bar read-side-bar-left">
                                <a class="btn mulu" href="javascript:;" data-cnt="cnt-mulu">目录</a>
                                <a class="btn shuye" href="https://www.ciweimao.com/book/100021919">详情</a>


                                <a class="J_ShouCang btn shoucang shoucanged" href="javascript:;">已放入书架</a>

                                <a class="btn shezhi" href="javascript:;" data-cnt="cnt-shezhi">设置</a>

                                <div class="read-side-bar-cnt" id="J_ReadSideBarCnt">
                                    <!--目录 start-->
                                    <div class="cnt cnt-mulu" id="J_CntMulu">
                                        <h3 class="cnt-hd">目录</h3>
                                        <div class="cnt-bd">
                                            <!-- 目录标签 start-->
                                            <div class="book-chapter-list">
                                                <div class="mulu-scrollbar J_mCustomScrollbar" id="J_MuluScrollbar">

                                                </div>
                                            </div>
                                            <!-- 目录标签 end-->
                                        </div>
                                        <div class="close J_Close">&times;</div>
                                    </div>
                                    <!--目录 end-->
                                    <div class="cnt cnt-shezhi" id="J_CntShezhi" style="display:none;">
                                        <h3 class="cnt-hd">设置</h3>
                                        <div class="cnt-bd">
                                            <dl class="dl-theme" id="J_DlTheme">
                                                <dt>
                                                    阅读主题：
                                                </dt>
                                                <dd>
                                                    <a data-value="default" class="default act" href="javascript:;"
                                                        title="默认"></a>
                                                    <a data-value="green" class="green" href="javascript:;" title="绿色"></a>
                                                    <a data-value="blue" class="blue" href="javascript:;" title="亮蓝"></a>
                                                    <a data-value="white" class="white" href="javascript:;" title="白色"></a>
                                                    <a data-value="gray" class="gray" href="javascript:;" title="灰色"></a>
                                                    <a data-value="pink" class="pink" href="javascript:;" title="粉色"></a>
                                                    <a data-value="night" class="night" href="javascript:;" title="夜间"></a>
                                                </dd>
                                            </dl>
                                            <dl class="dl-font-family dl-settings" id="J_DlFontFamily">
                                                <dt>
                                                    正文字体：
                                                </dt>
                                                <dd>
                                                    <a data-value="3" class="yuehei act" href="javascript:;">默认</a>

                                                </dd>
                                            </dl>
                                            <dl class="dl-font-size" id="J_DlFontSize">
                                                <dt>
                                                    字体大小：
                                                </dt>
                                                <dd>
                                                    <a class="no-minus small" href="javascript:;">-</a><span>14</span><a
                                                        class="no-plus big" href="javascript:;">+</a>
                                                </dd>
                                            </dl>
                                            <dl class="dl-tsukkomi dl-settings" id="J_TsukkomiSite">
                                                <dt>间贴显示：</dt>
                                                <dd>
                                                    <a data-value="tsu-right" class="tsu-right act" href="javascript:;"
                                                        title="右侧显示间贴"></a>
                                                    <a data-value="tsu-left" class="tsu-left" href="javascript:;" title="左侧显示间贴"></a>
                                                    <a data-value="tsu-hide" class="tsu-hide" href="javascript:;" title="关闭间贴及弹幕"></a>
                                                </dd>
                                            </dl>
                                            <dl class="dl-settings" id="J_MusicPlayer">
                                                <dt>音乐播放器：</dt>
                                                <dd>
                                                    <a data-value="0" class="player-show act" href="javascript:;" title="显示">显示</a>
                                                    <a data-value="1" class="player-hide" href="javascript:;" title="隐藏">隐藏</a>
                                                </dd>
                                            </dl>
                                            <dl class="dl-btn">
                                                <dt></dt>
                                                <dd>
                                                    <a class="btn btn-md btn-warning J_Submit" href="javascript:;">保存设置</a>
                                                    <a class="btn btn-md btn-default J_Cancel" href="javascript:;">取消</a>
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="close J_Close">&times;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="read-side-bar read-side-bar-right">
                                <a class="J_TuiJian btn tuijian" href="javascript:;">推荐</a>
                                <a class="J_YuePiao btn yuepiao" href="javascript:;">月票</a>
                                <a class="J_DaShang btn dashang" href="javascript:;" data-type="shang">打赏</a>
                                <a class="J_DingYue btn dingyue" href="javascript:;" data-dingyueall='1'
                                    data-dingyuealll='1'>订阅</a>

                            </div>
                        </div>
                    </div>
                    <div class="barrage-box" id="J_BarrageBox">
                        <div class="barrage-inner">
                            <a class="btn btn-md btn-warning btn-start" id="J_BarrageStart" href="javascript:;">打开弹幕</a>
                            <div class="barrage-form">
                                <input type="text" id="text_barrage" placeholder="来吐槽吧，biubiubiu~（50字以内）" maxlength="50">
                                <a id="submit_barrage" class="btn btn-md btn-warning barrage-submit" href="javascript:;">发送弹幕</a>
                            </div>
                        </div>
                        <b></b>
                        <a class="btn-close" href="javascript:;">×</a>
                        <div id="J_Barrage"></div>
                    </div>
                </div>
                <div class="book-read-page">
                    <a id="J_BtnPagePrev" class="btn btn-lg btn-warning" href="https://www.ciweimao.com/chapter/100766779"
                        href="javascript:">上一章</a>
                    <a class="btn btn-lg btn-default" href="https://www.ciweimao.com/chapter-list/100021919">目录</a>
                    <a id="J_BtnPageNext" class="btn btn-lg btn-warning" href="https://www.ciweimao.com/chapter/100767231"
                        href="javascript:">下一章</a>
                </div>
                <!--阅读 end-->


                <div class="go-top" id="J_GoTop">
                    <a href="javascript:;">返回顶部</a>
                </div>
            </div>
        </div>
        <!--container end-->
        <!--<a href="javascript:;" id="J_BtnGuide">提示</a>-->
        <div class="theme-mask" id="J_ThemeMask"></div>
        <script type="text/html" id="template-chapter-comment">
    <div class="chapter-comment-wrap">
        <div class="chapter-comment">
            <div class="chapter-bg">
                <div class="chapter-comment-form">
                    <input type="text" placeholder="吐槽这一段(50字内)" maxlength="50">
                    <a class="J_ChapterSubmit btn btn-md btn-warning" href="javascript:;">发送间贴</a>
                </div>
                <div class="J_ChapterCnt">
                    {{include 'template-chapter-comment-list'}}
                </div>
            </div>
        </div>
    </div>
</script>
        <script type="text/html" id="template-chapter-comment-list">
    <div class="chapter-comment-list">
        <ul>
            {{each tsukkomi_list}}
            <li data-tsukkomi-id="{{$value.tsukkomi_id}}">
				<a class="img" href="https://www.ciweimao.com/bookshelf/{{$value.reader_info.reader_id}}" target="_blank">
					<img src="{{$value.reader_info.avatar_thumb_url}}" alt="{{$value.reader_info.reader_name}}"/>
					{{each $value.reader_info.used_decoration}}
					<span class="medal medal_{{$value.decoration_id}}_40"></span>
					{{/each}}
				</a>
                <div class="bd">
					<h3 class="name">
						<a href="https://www.ciweimao.com/bookshelf/{{$value.reader_info.reader_id}}" target="_blank">{{$value.reader_info.reader_name}}</a>
						{{if $value.reader_info.vip_lv >0}}<i class="{{if $value.reader_info.vip_lv==4}}icon-level-d{{/if}}{{if $value.reader_info.vip_lv==3}}icon-level-h{{/if}}{{if $value.reader_info.vip_lv==2}}icon-level-p{{/if}}{{if $value.reader_info.vip_lv==1}}icon-level-v{{/if}}"></i>{{/if}}
						{{if $value.is_author}}<b class="author-badge">作者</b>{{/if}}
						<span>{{$value.ctime}}</span>
					</h3>
                    <p>
                        {{subString($value.tsukkomi_content, 100, true)}}
                    </p>
                    <div class="state J_TsukkomiOpt">
                        <a href="javascript:;" class="J_Zan zan {{if $value.is_like==1}}done{{/if}} {{if $value.like_amount>0}}num{{/if}}">{{if $value.like_amount==0}}赞{{/if}}(<i>{{$value.like_amount}}</i>)</a>
                        <a href="javascript:;" class="J_Hei hei {{if $value.is_unlike==1}}done{{/if}} {{if $value.unlike_amount>0}}num{{/if}}">{{if $value.unlike_amount==0}}黑{{/if}}(<i>{{$value.unlike_amount}}</i>)</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="chapter-comment-page">
        <span>共{{paragraph_tsukkomi_amount}}条间贴</span>
        {{if pageInfo.show}}
        <a href="javascript:;" data-no="{{pageInfo.page-1}}" class="prev {{if ! pageInfo.prev}}noprev{{/if}} J_PagePrev">&nbsp;</a>
        {{pageInfo.page+1}}/{{pageInfo.pageNo}}
        <a href="javascript:;" data-no="{{(pageInfo.page+1)}}" class="next {{if ! pageInfo.next}}nonext{{/if}} J_PageNext">&nbsp;</a>
        {{/if}}
    </div>
</script>

        <script type="text/javascript">
            var tsukkomi_num_json = { "1": 52, "4": "1", "6": "1", "16": 20, "29": 12, "32": 3, "39": 18, "43": 9, "45": 26, "48": 14, "50": 53, "49": 1, "0": 7, "31": 1 };
        </script>

        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/third-parties/mock.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/jquery-plugins/jquery.base64.min.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/enjs.min.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/myEncrytExtend-min.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/book-read-min.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/barrage.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/language/Strandition.js"></script>
        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/template.js"></script>

        <!-- 用户操作 -->
        <div id="J_TuiJianBox" class="J_GiveGift" style="display:none">
            <div class="account-info">
                <div class="line">
                    <p>您的猫饼干余额:<br>
                        <b class="J_HLB">832</b></p>
                </div>
                <div class="line">
                    <p>您的推荐票余量:<br>
                        <b class="J_Recommend">5</b></p>
                </div>
                <div class="line-amount">
                    <span>打赏数量</span>
                    <a class="no-minus J_noMinus" href="javascript:;">-</a>
                    <input type="text" value="1" class="text-amount J_NumResult">
                    <a class="no-plus J_noPlus" href="javascript:;">+</a>
                </div>
                <div class="form-btn">
                    <a class="btn btn-default" href="https://www.ciweimao.com/recharge/index" target="_blank">充值中心</a>
                    <a class="J_BoxSubmit btn btn-warning ly-fr" href="javascript:;">投推荐票</a>
                </div>
            </div>
        </div>
        <div id="J_YuePiaoBox" class="J_GiveGift" style="display:none">
            <div class="account-info">
                <div class="line">
                    <p>您的猫饼干余额:<br>
                        <b class="J_HLB">832</b></p>
                </div>
                <div class="line">
                    <p>您的月票余量:<br>
                        <b class="J_Stock">6</b></p>
                </div>
                <div class="line-amount">
                    <span>打赏数量</span>
                    <a class="no-minus J_noMinus" href="javascript:;">-</a>
                    <input type="text" value="1" class="text-amount J_NumResult">
                    <a class="no-plus J_noPlus" href="javascript:;">+</a>
                </div>
                <div class="form-btn">
                    <a class="btn btn-default" href="https://www.ciweimao.com/recharge/index" target="_blank">充值中心</a>
                    <a class="J_BoxSubmit btn btn-warning ly-fr" href="javascript:;">投月票</a>
                </div>
            </div>
        </div>
        <div id="J_DingYueBox" style="display:none">
            <div class="account-info dingyue-box">
                <div class="line">
                    <p>
                        您的余额:<br><b class="J_HLB">832</b> 币
                    </p>
                </div>
                <div class="line">
                    <ul class="input-radio J_InputRadio">
                        <li> <a href="javascript:;" class="selected"> <i class="icon-select"></i><span class="heavy-font">购买本章<b>
                                        4 币</b></span>
                                <input type="radio" class="J_NumResult" value="2" style="display:none" checked="checked">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"> <i class="icon-select"></i><span class="heavy-font">全本购买</span>
                                <input type="radio" class="J_NumResult" value="1" style="display:none">
                            </a>
                            <div class="item-desc">需购章节：0 章，<br />

                                应付总额：0 币<br>
                                <span>您将购买：第一百零五章 山百合会</span><br>
                                <span>至：第六百四十章 小队</span>
                            </div>
                        </li>
                    </ul>
                    <!--新增  复选框 start-->
                    <ul class="input-checkbox J_InputCheckbox">
                        <li>
                            <a href="javascript:;">
                                <i class="icon-select"></i><span class="heavy-font">遇到收费章节自动购买</span>
                                <input name="is_auto_buy" type="checkbox" style="display:none" value="1" />
                            </a>
                        </li>
                    </ul>
                    <!--新增  复选框 end-->
                    <div class="item-desc dy-desc">
                        1、全本订阅是订阅目前已更新的全部章节，如期间有免费章节和已购买章节，下载时将一并下载。<br>
                        2、免费章节及已购买章节不会重复扣费，请放心购买。
                    </div>
                </div>
                <div class="form-btn">
                    <a class="btn btn-default" href="https://www.ciweimao.com/recharge/index" target="_blank">充值中心</a>
                    <a href="javascript:;" class="J_BoxSubmit btn btn-warning ly-fr" disabled="true">已经订阅</a>

                </div>
            </div>
        </div>
        <div id="J_DaShangBox" style="display:none">
            <div class="account-type">
                <ol class="input-radio J_InputRadio">
                    <li><a href="javascript:;" class="selected" data-type="shang">打赏</a></li>
                    <li><a href="javascript:;" data-type="prop">道具</a></li>
                </ol>
            </div>
            <!-- <div class="account-info account-shang account-shang-planb J_AccountShang">-->
            <div class="account-info account-shang J_AccountShang account-shang-planc">
                <div class="line">
                    <p>您的猫饼干余额:<br>
                        <b class="J_HLB">832</b></p>
                </div>
                <div class="line line-pd0">
                    <ul class="input-radio J_InputRadio clearfix">
                        <li>
                            <a href="javascript:;" class="selected" data-prop-type="37"><span>1</span>
                                <input type="radio" class="J_NumResult" value="100" checked="checked">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-prop-type="38"><span>0</span>
                                <input type="radio" class="J_NumResult" value="588">
                            </a>
                        </li>
                        <li>
                            <a class="bdright" href="javascript:;" data-prop-type="39"><span>0</span>
                                <input type="radio" class="J_NumResult" value="1688">
                            </a>
                        </li>
                        <li>
                            <a class="bgbottom" href="javascript:;" data-prop-type="40"><span>0</span>
                                <input type="radio" class="J_NumResult" value="5000">
                            </a>
                        </li>
                        <li>
                            <a class="bgbottom" href="javascript:;" data-prop-type="41"><span>0</span>
                                <input type="radio" class="J_NumResult" value="10000" style="display:none">
                            </a>
                        </li>
                        <li>
                            <a class="bgbottom bdright" href="javascript:;" data-prop-type="42"><span>0</span>
                                <input type="radio" class="J_NumResult" value="100000" style="display:none">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="line-amount J_NumCalculate">
                    <span>打赏数量</span>
                    <a href="javascript:;" class="no-minus J_noMinus">-</a>
                    <input type="text" value="1" class="text-amount J_NumResult" maxlength="10">
                    <a href="javascript:;" class="no-plus J_noPlus">+</a>
                </div>
                <div class="form-btn">
                    <a class="btn btn-default" href="https://www.ciweimao.com/recharge/index" target="_blank">充值中心</a>
                    <a class="J_BoxSubmit btn btn-warning ly-fr" href="javascript:;">立即打赏</a>
                </div>
            </div>
            <div class="account-info account-prop J_AccountProp" style="display: none;">
                <div class="line">
                    <p>您的猫饼干余额:<br>
                        <b class="J_HLB">832</b>
                    </p>
                </div>
                <div class="line blade-box">
                    <div class="blade ly-fl"></div>
                    <div class="blade-info">
                        <h3 class="title">催更刀片</h3>
                        <p>想要加快更新速度？试试给作者寄刀片吧！</p>
                        <p>单价 <span class="J_BladePrice">100</span> 猫饼干</p>
                        <p class="own-blade">拥有 <i class="J_OwnBlade">4</i> 个</p>
                        <div class="blade-amount J_BladeAmount">
                            <a href="javascript:;" class="no-minus J_noMinus">-</a>
                            <input type="text" value="1" class="text-amount J_NumResult" maxlength="10" />
                            <a href="javascript:;" class="no-plus J_noPlus">+</a>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <p>需购道具&nbsp;&nbsp;<span class="heavy-font">催更刀片 x <i class="J_BladeNum">1</i></span></p>
                    <p>应付总额&nbsp;&nbsp;<b class="heavy-font"><b class="J_Consume">100</b> 猫饼干</b></p>
                </div>
                <div class="form-btn">
                    <a class="btn btn-default" href="https://www.ciweimao.com/recharge/index" target="_blank">充值中心</a>
                    <a class="J_BoxSubmit btn btn-warning ly-fr" href="javascript:;">投出道具</a>
                </div>
            </div>
        </div>

        <!-- 登录框 -->
        <div id="J_LoginBox" style="display:none">
            <div class="login-box">
                <form action="https://www.ciweimao.com/signup/doLoginBox" class="form-box" id="J_LoginForm" name="J_LoginForm"
                    method="post" onsubmit="doLoginBox();return false;">
                    <div class="input-group">
                        <input type="text" class="username" name="username" placeholder="手机号/邮箱">
                    </div>
                    <div class="input-group">
                        <input type="password" class="password" name="password" placeholder="密码">
                    </div>
                    <div class="input-group code-group">
                        <div id="embed-geetest-captcha"></div>
                        <p id="geetest-wait">正在加载验证码......</p>
                        <p id="geetest-notice">请先通过验证</p>
                        <script>
                            HB.util.loadGeetest = function () {
                                if (window.geetestCaptchaObj) {
                                    return;
                                }
                                var head = document.getElementsByTagName("head")[0];
                                var s = document.createElement("script");
                                s.src = "https://www.ciweimao.com/resources/js/gt3.0.js";
                                head.appendChild(s);

                                s.onload = s.onreadystatechange = function () {
                                    if (!this.readyState || 'loaded' === this.readyState || 'complete' === this.readyState) {
                                        $("#geetest-notice").hide();
                                        var handlerEmbed = function (captchaObj) {
                                            $("#dosubmmit").click(function (e) {
                                                var validate = captchaObj.getValidate();
                                                if (!validate) {
                                                    $("#geetest-notice").show();
                                                    setTimeout(function () {
                                                        $("#geetest-notice").hide();
                                                    }, 2000);
                                                    e.preventDefault();
                                                }
                                            });
                                            captchaObj.appendTo("#embed-geetest-captcha");
                                            captchaObj.onReady(function () {
                                                $("#geetest-wait").hide();
                                            });
                                            window.geetestCaptchaObj = captchaObj;
                                        };
                                        $.ajax({
                                            // 获取id，challenge，success（是否启用failback）
                                            url: "https://www.ciweimao.com/signup/geetest_captcha?t=" + (new Date()).getTime(), // 加随机数防止缓存
                                            type: "get",
                                            dataType: "json",
                                            success: function (data) {
                                                // 使用initGeetest接口
                                                // 参数1：配置参数
                                                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                                                initGeetest({
                                                    gt: data.gt,
                                                    challenge: data.challenge,
                                                    product: "float", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                                                    offline: !data.success, // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                                                    width: "100%"// 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
                                                }, handlerEmbed);
                                            }
                                        });
                                    }
                                };
                            };
                        </script>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-warning" name="dosubmmit" id="dosubmmit">登录</button>
                    </div>
                    <div class="form-ft clearfix">
                        <span class="tl">
                            <label><input type="checkbox" name="autoLogin">自动登录</label>
                        </span>
                        <span class="tr">
                            <a href="https://www.ciweimao.com/signup/modify_passwd_page?redirect=https://www.ciweimao.com/chapter/100766788">忘记密码&nbsp;&nbsp;|&nbsp;</a>
                            <a href="https://www.ciweimao.com/signup/register?redirect=https://www.ciweimao.com/chapter/100766788">注册</a>
                        </span>
                        </div>
                        </form>
                        <div class="login-ft">
                            <div class="otherUser">
                                <div class="otherUser_T">使用第三方账号登录</div>
                                <div class="otherUser_B">
                                    <a href="https://www.ciweimao.com/signup/qqlogin?redirect=https%3A%2F%2Fwww.ciweimao.com%2Fchapter%2F100766788"
                                        class="qqLogin"></a>
                                    <!-- <a href="javascript:;" class="wbLogin"></a> -->
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        
                        <script type="text/javascript" src='https://www.ciweimao.com/resources/js/jquery-plugins/jquery.validate/jquery.validate.min.js'></script>
                        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/dialog-form.js"></script>
                        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/artDialog/6.0.4/dialog-min.js"></script>
                        <script type="text/javascript">
                            function doLoginBox() {
                                var self = $(this);
                                var username = $("input[name='username']").val();
                                var password = $("input[name='password']").val();

                                var autoLogin = $("input[name='autoLogin']:checked").val();

                                var post_data = {};
                                if (window.geetestCaptchaObj) {
                                    var validate = window.geetestCaptchaObj.getValidate();
                                    if (!validate) {
                                        $("#geetest-notice").show();
                                        setTimeout(function () {
                                            $("#geetest-notice").hide();
                                        }, 2000);
                                        return;
                                    }
                                    post_data = { username: username, password: password, autoLogin: autoLogin };
                                    var validateDict = window.geetestCaptchaObj.getValidate();
                                    for (var key in validateDict) {
                                        post_data[key] = validateDict[key];
                                    }
                                } else {
                                    var code = $("input[name='code']").val();
                                    if (code == '') {
                                        HB.util.alert("请输入验证码!");
                                        return;
                                    }
                                    post_data = { username: username, password: password, code: code, autoLogin: autoLogin };
                                }

                                var dosubmmit = $("#dosubmmit");
                                if (dosubmmit.prop('disabled')) return false;

                                $.ajax({
                                    url: HB.config.rootPath + 'signup/doLoginBox',
                                    data: post_data,
                                    beforeSubmit: function () {
                                        dosubmmit.prop("disabled", true);
                                    },
                                    complete: function () {
                                        dosubmmit.prop("disabled", false);
                                    },
                                    success: function (res) {
                                        if (res.code == 100000) {
                                            var msg = res.tip ? res.tip : '登录成功！';
                                            HB.util.alert(msg);
                                            //$("#J_LoginBox").attr('style','display:none');
                                            window.location.reload();
                                        } else {
                                            HB.util.alert(res.tip, 1);
                                            $("#code").trigger('click');
                                            if (window.geetestCaptchaObj) {
                                                window.geetestCaptchaObj.reset();
                                            }
                                        }
                                    }
                                });
                            }
                        </script>
                        <script type="text/javascript" src="https://www.ciweimao.com/resources/js/jquery-plugins/jquery.validate/jquery.validate.min.js"></script>
                        <script type="text/javascript">
                            //加载下方铁杆粉丝榜
                            var load_down = function () {
                                // 铁杆粉丝榜
                                var fans2 = $(".book-read-shang");
                                var url2 = "https://www.ciweimao.com/book/get_book_fans_list?book_id=100021919&curr_page=chapter";
                                fans2.load(url2);
                            }
                            $(document).ready(function () {
                                load_down();
                            });

                            setTimeout(function () {
                                var auth_access = 1;
                                if (auth_access == 0) {
                                    var d = new dialog({
                                        title: '',
                                        fixed: true,
                                        content: '<div class="dialog-tip">本章为VIP章节，请先订阅！</div>'
                                    }).showModal();

                                    setTimeout(function () {
                                        d.close().remove();
                                        if (HB.userinfo.reader_id) {
                                            if ($("#J_DingYueBox").css("display") == "none") {
                                                $(".J_DingYue").trigger('click');
                                            }
                                        }
                                        else {
                                            HB.util.loginDialog();
                                        }
                                    }, 3000);
                                }
                            }, 500);

                        </script>
                        <script>
                            document.body.oncopy = function () { return false; }; //阻止复制
                            document.body.onselectstart = function () { return false; }; //阻止选中
                            document.oncontextmenu = function () { return false; }; //阻止菜单弹出
                            if (document.images) {
                                for (i = 0; i < document.images.length; i++) {
                                    document.images[i].onmousedown = function () { return false; };
                                }
                            }

                        </script>
                        </div> <!-- 不要删除,头部放在 top.php 里面 -->
                        <script>
                            //操作cookie  每天首次登陆此页面显示头部下载APP动图
                            var readPage_visits;
                            function GetDateStr(AddDayCount) {
                                var dd = new Date();
                                dd.setDate(dd.getDate() + AddDayCount);
                                var y = dd.getFullYear();
                                var m = dd.getMonth() + 1;
                                var d = dd.getDate();
                                return y + "-" + m + "-" + d;
                            }
                            if (!(readPage_visits = HB.util.Cookie.get("readPage_visits")))
                                readPage_visits = 0;
                            readPage_visits++;
                            HB.util.Cookie.set("readPage_visits", readPage_visits, {
                                domain: document.domain,
                                path: "/",
                                expires: new Date(GetDateStr(1))
                            });
                            if (readPage_visits == 1) {//第一次访问
                                setTimeout(function () {
                                    $(".app-download img").attr("src", "https://www.ciweimao.com/resources/images/app-download.gif");
                                }, 500);
                                setTimeout(function () {
                                    $(".app-download img").attr("src", "https://www.ciweimao.com/resources/images/app-download.png");
                                }, 1450);
                                $('#J_QrCode div').animate({ height: '120px' });
                                setTimeout(function () {
                                    $('#J_QrCode div').stop().animate({ height: 0 });
                                }, 5000);
                            } else {
                                $(".app-download img").attr("src", "https://www.ciweimao.com/resources/images/app-download.png");
                            }
                        </script>
                        
                        </body>
                        
                        </html>